.tb-alert
  padding 15px
  margin-bottom 18px
  border 1px solid transparent
  border-radius(2px)
  position relative
  &.tb-alert-success
    background-color #dff0d8
    border-color #dff0d8
    color #4caf50
    hr
      border-top-color #d0e9c6
    .tb-alert-link
      color #3d8b40
  &.tb-alert-info
    background-color #d9edf7
    border-color #d9edf7
    color #2196f3
    hr
      border-top-color #c4e3f3
    .tb-alert-link
      color #0c7cd5
  &.tb-alert-warning
    background-color #ffedd6
    border-color #ffedd6
    color #ff9800
    hr
      border-top-color #ffe2bd
    .tb-alert-link
      color #cc7a00
  &.tb-alert-danger
    background-color #f2dede
    border-color #f2dede
    color #f44336
    hr
      border-top-color #ebcccc
    .tb-alert-link
      color #ea1c0d
  &.tb-alert-dismissible
    padding-right 35px
    .tb-alert-close
      position absolute
      right 15px
      top 15px
      color #444
      color inherit
  