.tb-btn
  display inline-block
  margin-bottom 0
  font-weight 400
  text-align center
  vertical-align middle
  touch-action manipulation
  cursor pointer
  background-image none
  border 1px solid transparent
  white-space nowrap
  padding 6px 12px
  font-size 13px
  line-height 1.42857143
  border-radius(2px)
  vender(user-select, none)
  -khtml-user-select none
  -ms-user-select none
  -webkit-touch-callout none

.tb-btn:focus, .tb-btn:active, .tb-btn.active:focus, .tb-btn.focus, .tb-btn:active.focus, .tb-btn.active.focus
  outline thin dotted
  outline 5px auto -webkit-focus-ring-color
  outline-offset -2px
  outline none !important

.tb-btn:hover, .tb-btn:focus, .tb-btn.focus
  color #333
  text-decoration none
  opacity 0.8

.tb-btn:active, .tb-btn.active
  outline 0
  background-image none
  box-shadow(inset 0 3px 5px rgba(0,0,0,0.125))

.tb-btn.disabled,.tb-btn[disabled],fieldset[disabled] .tb-btn
  cursor not-allowed
  pointer-events none
  opacity(0.65)
  box-shadow(none)
  
.tb-btn-default 
  color #333
  background-color #fff

.tb-btn-defaulthover,.tb-btn-default:focus,.tb-btn-default.focus,.tb-btn-default:active,.tb-btn-default.active,.open > .dropdown-toggle.tb-btn-default
  color #333
  background-color #e6e6e6
  border-color #adadad

.tb-btn-default:active,.tb-btn-default.active,.open > .dropdown-toggle.tb-btn-default
  background-image none

.tb-btn-default.disabled,.tb-btn-default[disabled],fieldset[disabled] .tb-btn-default,.tb-btn-default.disabledhover,.tb-btn-default[disabled]:hover,fieldset[disabled] .tb-btn-default:hover,.tb-btn-default.disabled:focus,.tb-btn-default[disabled]:focus,fieldset[disabled] .tb-btn-default:focus,.tb-btn-default.disabled.focus,.tb-btn-default[disabled].focus,fieldset[disabled] .tb-btn-default.focus,.tb-btn-default.disabled:active,.tb-btn-default[disabled]:active,fieldset[disabled] .tb-btn-default:active,.tb-btn-default.disabled.active,.tb-btn-default[disabled].active,fieldset[disabled] .tb-btn-default.active
  background-color #fff
  border-color #ccc

.tb-btn-default .badge
  color #fff
  background-color #333

.tb-btn-default:hover,.tb-btn-default:focus,.tb-btn-default.focus,.tb-btn-default:active,.open > .dropdown-toggle.tb-btn-default
  color #333
  background-color #fff
  border-color transparent

.tb-btn-default:active,.tb-btn-default.active,.open > .dropdown-toggle.tb-btn-default
  background-image none

.tb-btn-default.disabled,.tb-btn-default[disabled],fieldset[disabled] .tb-btn-default,.tb-btn-default.disabled:hover,.tb-btn-default[disabled]:hover,fieldset[disabled] .tb-btn-default:hover,.tb-btn-default.disabled:focus,.tb-btn-default[disabled]:focus,fieldset[disabled] .tb-btn-default:focus,.tb-btn-default.disabled.focus,.tb-btn-default[disabled].focus,fieldset[disabled] .tb-btn-default.focus,.tb-btn-default.disabled:active,.tb-btn-default[disabled]:active,fieldset[disabled] .tb-btn-default:active 
  background-color #fff
  border-color #ccc


.tb-btn-default .badge 
  color #fff
  background-color #333


.tb-btn-primary 
  color #fff
  background-color #2196f3
  border-color #0d8aee


.tb-btn-primary:hover,.tb-btn-primary:focus,.tb-btn-primary.focus,.tb-btn-primary:active,.tb-btn-primary.active,.open > .dropdown-toggle.tb-btn-primary 
  color #fff
  background-color #0c7cd5
  border-color #0a68b4


.tb-btn-primary:active,.tb-btn-primary.active,.open > .dropdown-toggle.tb-btn-primary 
  background-image none


.tb-btn-primary.disabled,.tb-btn-primary[disabled],fieldset[disabled] .tb-btn-primary,.tb-btn-primary.disabled:hover,.tb-btn-primary[disabled]:hover,fieldset[disabled] .tb-btn-primary:hover,.tb-btn-primary.disabled:focus,.tb-btn-primary[disabled]:focus,fieldset[disabled] .tb-btn-primary:focus,.tb-btn-primary.disabled.focus,.tb-btn-primary[disabled].focus,fieldset[disabled] .tb-btn-primary.focus,.tb-btn-primary.disabled:active,.tb-btn-primary[disabled]:active,fieldset[disabled] .tb-btn-primary:active,.tb-btn-primary.disabled.active,.tb-btn-primary[disabled].active,fieldset[disabled] .tb-btn-primary.active 
  background-color #2196f3
  border-color #0d8aee


.tb-btn-primary .badge 
  color #2196f3
  background-color #fff


.tb-btn-primary:hover,.tb-btn-primary:focus,.tb-btn-primary.focus,.tb-btn-primary:active,.open > .dropdown-toggle.tb-btn-primary 
  color #fff
  background-color #2196f3
  border-color transparent


.tb-btn-primary:active,.tb-btn-primary.active,.open > .dropdown-toggle.tb-btn-primary 
  background-image none


.tb-btn-primary.disabled,.tb-btn-primary[disabled],fieldset[disabled] .tb-btn-primary,.tb-btn-primary.disabled:hover,.tb-btn-primary[disabled]:hover,fieldset[disabled] .tb-btn-primary:hover,.tb-btn-primary.disabled:focus,.tb-btn-primary[disabled]:focus,fieldset[disabled] .tb-btn-primary:focus,.tb-btn-primary.disabled.focus,.tb-btn-primary[disabled].focus,fieldset[disabled] .tb-btn-primary.focus,.tb-btn-primary.disabled:active,.tb-btn-primary[disabled]:active,fieldset[disabled] .tb-btn-primary:active 
  background-color #2196f3
  border-color #0d8aee


.tb-btn-primary .badge 
  color #2196f3
  background-color #fff


.tb-btn-success 
  color #fff
  background-color #4caf50
  border-color #449d48


.tb-btn-success:hover,.tb-btn-success:focus,.tb-btn-success.focus,.tb-btn-success:active,.tb-btn-success.active,.open > .dropdown-toggle.tb-btn-success 
  color #fff
  background-color #3d8b40
  border-color #327334


.tb-btn-success:active,.tb-btn-success.active,.open > .dropdown-toggle.tb-btn-success 
  background-image none


.tb-btn-success.disabled,.tb-btn-success[disabled],fieldset[disabled] .tb-btn-success,.tb-btn-success.disabled:hover,.tb-btn-success[disabled]:hover,fieldset[disabled] .tb-btn-success:hover,.tb-btn-success.disabled:focus,.tb-btn-success[disabled]:focus,fieldset[disabled] .tb-btn-success:focus,.tb-btn-success.disabled.focus,.tb-btn-success[disabled].focus,fieldset[disabled] .tb-btn-success.focus,.tb-btn-success.disabled:active,.tb-btn-success[disabled]:active,fieldset[disabled] .tb-btn-success:active,.tb-btn-success.disabled.active,.tb-btn-success[disabled].active,fieldset[disabled] .tb-btn-success.active 
  background-color #4caf50
  border-color #449d48


.tb-btn-success .badge 
  color #4caf50
  background-color #fff


.tb-btn-success:hover,.tb-btn-success:focus,.tb-btn-success.focus,.tb-btn-success:active,.open > .dropdown-toggle.tb-btn-success 
  color #fff
  background-color #4caf50
  border-color transparent


.tb-btn-success:active,.tb-btn-success.active,.open > .dropdown-toggle.tb-btn-success 
  background-image none


.tb-btn-success.disabled,.tb-btn-success[disabled],fieldset[disabled] .tb-btn-success,.tb-btn-success.disabled:hover,.tb-btn-success[disabled]:hover,fieldset[disabled] .tb-btn-success:hover,.tb-btn-success.disabled:focus,.tb-btn-success[disabled]:focus,fieldset[disabled] .tb-btn-success:focus,.tb-btn-success.disabled.focus,.tb-btn-success[disabled].focus,fieldset[disabled] .tb-btn-success.focus,.tb-btn-success.disabled:active,.tb-btn-success[disabled]:active,fieldset[disabled] .tb-btn-success:active 
  background-color #4caf50
  border-color #449d48


.tb-btn-success .badge 
  color #4caf50
  background-color #fff


.tb-btn-info 
  color #fff
  background-color #00bcd4
  border-color #00a5bb

.tb-btn-info:hover, .tb-btn-info:focus, .tb-btn-info.focus, .tb-btn-info:active, .tb-btn-info.active, .open > .dropdown-toggle.tb-btn-info 
  color #fff
  background-color #008fa1
  border-color #006f7d


.tb-btn-info:active,.tb-btn-info.active,.open > .dropdown-toggle.tb-btn-info 
  background-image none


.tb-btn-info.disabled,.tb-btn-info[disabled],fieldset[disabled] .tb-btn-info,.tb-btn-info.disabled:hover,.tb-btn-info[disabled]:hover,fieldset[disabled] .tb-btn-info:hover,.tb-btn-info.disabled:focus,.tb-btn-info[disabled]:focus,fieldset[disabled] .tb-btn-info:focus,.tb-btn-info.disabled.focus,.tb-btn-info[disabled].focus,fieldset[disabled] .tb-btn-info.focus,.tb-btn-info.disabled:active,.tb-btn-info[disabled]:active,fieldset[disabled] .tb-btn-info:active,.tb-btn-info.disabled.active,.tb-btn-info[disabled].active,fieldset[disabled] .tb-btn-info.active 
  background-color #00bcd4
  border-color #00a5bb


.tb-btn-info .badge 
  color #00bcd4
  background-color #fff


.tb-btn-info:hover,.tb-btn-info:focus,.tb-btn-info.focus,.tb-btn-info:active,.open > .dropdown-toggle.tb-btn-info 
  color #fff
  background-color #00bcd4
  border-color transparent


.tb-btn-info:active,.tb-btn-info.active,.open > .dropdown-toggle.tb-btn-info 
  background-image none


.tb-btn-info.disabled,.tb-btn-info[disabled],fieldset[disabled] .tb-btn-info,.tb-btn-info.disabled:hover,.tb-btn-info[disabled]:hover,fieldset[disabled] .tb-btn-info:hover,.tb-btn-info.disabled:focus,.tb-btn-info[disabled]:focus,fieldset[disabled] .tb-btn-info:focus,.tb-btn-info.disabled.focus,.tb-btn-info[disabled].focus,fieldset[disabled] .tb-btn-info.focus,.tb-btn-info.disabled:active,.tb-btn-info[disabled]:active,fieldset[disabled] .tb-btn-info:active 
  background-color #00bcd4
  border-color #00a5bb


.tb-btn-info .badge 
  color #00bcd4
  background-color #fff


.tb-btn-warning 
  color #fff
  background-color #ff9800
  border-color #e68900


.tb-btn-warning:hover,.tb-btn-warning:focus,.tb-btn-warning.focus,.tb-btn-warning:active,.tb-btn-warning.active,.open > .dropdown-toggle.tb-btn-warning 
  color #fff
  background-color #cc7a00
  border-color #a86400


.tb-btn-warning:active,.tb-btn-warning.active,.open > .dropdown-toggle.tb-btn-warning 
  background-image none


.tb-btn-warning.disabled,.tb-btn-warning[disabled],fieldset[disabled] .tb-btn-warning,.tb-btn-warning.disabled:hover,.tb-btn-warning[disabled]:hover,fieldset[disabled] .tb-btn-warning:hover,.tb-btn-warning.disabled:focus,.tb-btn-warning[disabled]:focus,fieldset[disabled] .tb-btn-warning:focus,.tb-btn-warning.disabled.focus,.tb-btn-warning[disabled].focus,fieldset[disabled] .tb-btn-warning.focus,.tb-btn-warning.disabled:active,.tb-btn-warning[disabled]:active,fieldset[disabled] .tb-btn-warning:active,.tb-btn-warning.disabled.active,.tb-btn-warning[disabled].active,fieldset[disabled] .tb-btn-warning.active 
  background-color #ff9800
  border-color #e68900


.tb-btn-warning .badge 
  color #ff9800
  background-color #fff


.tb-btn-warning:hover,.tb-btn-warning:focus,.tb-btn-warning.focus,.tb-btn-warning:active,.open > .dropdown-toggle.tb-btn-warning 
  color #fff
  background-color #ff9800
  border-color transparent


.tb-btn-warning:active,.tb-btn-warning.active,.open > .dropdown-toggle.tb-btn-warning 
  background-image none


.tb-btn-warning.disabled,.tb-btn-warning[disabled],fieldset[disabled] .tb-btn-warning,.tb-btn-warning.disabled:hover,.tb-btn-warning[disabled]:hover,fieldset[disabled] .tb-btn-warning:hover,.tb-btn-warning.disabled:focus,.tb-btn-warning[disabled]:focus,fieldset[disabled] .tb-btn-warning:focus,.tb-btn-warning.disabled.focus,.tb-btn-warning[disabled].focus,fieldset[disabled] .tb-btn-warning.focus,.tb-btn-warning.disabled:active,.tb-btn-warning[disabled]:active,fieldset[disabled] .tb-btn-warning:active 
  background-color #ff9800
  border-color #e68900


.tb-btn-warning .badge 
  color #ff9800
  background-color #fff


.tb-btn-danger 
  color #fff
  background-color #f44336
  border-color #f32c1e


.tb-btn-danger:hover,.tb-btn-danger:focus,.tb-btn-danger.focus,.tb-btn-danger:active,.tb-btn-danger.active,.open > .dropdown-toggle.tb-btn-danger 
  color #fff
  background-color #ea1c0d
  border-color #c8180b

.tb-btn-danger:active,.tb-btn-danger.active,.open > .dropdown-toggle.tb-btn-danger 
  background-image none

.tb-btn-danger.disabled,.tb-btn-danger[disabled],fieldset[disabled] .tb-btn-danger,.tb-btn-danger.disabled:hover,.tb-btn-danger[disabled]:hover,fieldset[disabled] .tb-btn-danger:hover,.tb-btn-danger.disabled:focus,.tb-btn-danger[disabled]:focus,fieldset[disabled] .tb-btn-danger:focus,.tb-btn-danger.disabled.focus,.tb-btn-danger[disabled].focus,fieldset[disabled] .tb-btn-danger.focus,.tb-btn-danger.disabled:active,.tb-btn-danger[disabled]:active,fieldset[disabled] .tb-btn-danger:active,.tb-btn-danger.disabled.active,.tb-btn-danger[disabled].active,fieldset[disabled] .tb-btn-danger.active 
  background-color #f44336
  border-color #f32c1e

.tb-btn-danger .badge 
  color #f44336
  background-color #fff

.tb-btn-danger:hover,.tb-btn-danger:focus,.tb-btn-danger.focus,.tb-btn-danger:active,.open > .dropdown-toggle.tb-btn-danger 
  color #fff
  background-color #f44336
  border-color transparent

.tb-btn-danger:active,.tb-btn-danger.active,.open > .dropdown-toggle.tb-btn-danger 
  background-image none


.tb-btn-danger.disabled,.tb-btn-danger[disabled],fieldset[disabled] .tb-btn-danger,.tb-btn-danger.disabled:hover,.tb-btn-danger[disabled]:hover,fieldset[disabled] .tb-btn-danger:hover,.tb-btn-danger.disabled:focus,.tb-btn-danger[disabled]:focus,fieldset[disabled] .tb-btn-danger:focus,.tb-btn-danger.disabled.focus,.tb-btn-danger[disabled].focus,fieldset[disabled] .tb-btn-danger.focus,.tb-btn-danger.disabled:active,.tb-btn-danger[disabled]:active,fieldset[disabled] .tb-btn-danger:active 
  background-color #f44336
  border-color #f32c1e


.tb-btn-danger .badge 
  color #f44336
  background-color #fff


.tb-btn-link 
  color #2196f3
  font-weight 400
  border-radius 0


.tb-btn-link,.tb-btn-link:active,.tb-btn-link.active,.tb-btn-link[disabled],fieldset[disabled] .tb-btn-link 
  background-color transparent
  -webkit-box-shadow none
  box-shadow none


.tb-btn-link,.tb-btn-link:hover,.tb-btn-link:focus,.tb-btn-link:active 
  border-color transparent


.tb-btn-link:hover,.tb-btn-link:focus 
  color #0a6ebd
  text-decoration none
  background-color transparent


.tb-btn-link[disabled]:hover,fieldset[disabled] .tb-btn-link:hover,.tb-btn-link[disabled]:focus,fieldset[disabled] .tb-btn-link:focus 
  color #777
  text-decoration none

.tb-btn-group:not(.bootstrap-select),.tb-btn-group-vertical:not(.bootstrap-select)
  box-shadow 0 1px 4px 0 rgba(0,0,0,0.3)

.tb-btn-group .tb-btn,.tb-btn-group-vertical .tb-btn,.tb-btn-group .tb-btn:active,.tb-btn-group-vertical .tb-btn:active,.tb-btn-group .tb-btn:focus,.tb-btn-group-vertical .tb-btn:focus,.tb-btn-group .tb-btn-group,.tb-btn-group-vertical .tb-btn-group
  box-shadow none!important

.tb-btn-group .tb-btn,.tb-btn-group-vertical .tb-btn
  margin 0

.tb-btn-lg,.tb-btn-group-lg > .tb-btn 
  padding 10px 16px
  font-size 17px
  line-height 1.3333333
  border-radius 2px


.tb-btn-sm,.tb-btn-group-sm > .tb-btn 
  padding 5px 10px
  font-size 12px
  line-height 1.5
  border-radius 2px


.tb-btn-xs,.tb-btn-group-xs > .tb-btn 
  padding 1px 5px
  font-size 12px
  line-height 1.5
  border-radius 2px


.tb-btn-block 
  display block
  width 100%


.tb-btn-block + .tb-btn-block 
  margin-top 5px

.tb-btn:not(.tb-btn-link)
  box-shadow 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12)

.tb-btn[class*="tb-bgm-"]:not(.tb-bgm-white)
  color #fff

.tb-btn-icon
  border-radius 50%
  width 40px
  height 40px
  padding 0
  text-align center

.tb-btn-icon .tb-icon
  font-size 17px

.tb-btn-icon-text > .tb-icon
  font-size 15px
  vertical-align top
  display inline-block
  margin-top 1px
  line-height 100%
  margin-right 5px
  
.tb-btn-group,.tb-btn-group-vertical
  position relative
  display inline-block
  vertical-align middle

.tb-btn-group > .tb-btn,.tb-btn-group-vertical > .tb-btn
  position relative
  float left

.tb-btn-group > .tb-btn:hover,.tb-btn-group-vertical > .tb-btn:hover,.tb-btn-group > .tb-btn:focus,.tb-btn-group-vertical > .tb-btn:focus,.tb-btn-group > .tb-btn:active,.tb-btn-group-vertical > .tb-btn:active,.tb-btn-group > .tb-btn.active,.tb-btn-group-vertical > .tb-btn.active
  z-index: 2

.tb-btn-group .tb-btn + .tb-btn,.tb-btn-group .tb-btn + .tb-btn-group,.tb-btn-group .tb-btn-group + .tb-btn,.tb-btn-group .tb-btn-group + .tb-btn-group
  margin-left -1px
  
.tb-btn-toolbar
  margin-left -5px

.tb-btn-toolbar .tb-btn-group,.tb-btn-toolbar .input-group
  float left

.tb-btn-toolbar > .tb-btn,.tb-btn-toolbar > .tb-btn-group,.tb-btn-toolbar > .input-group
  margin-left 5px

.tb-btn-group > .tb-btn:not(:first-child):not(:last-child):not(.dropdown-toggle)
  border-radius: 0

.tb-btn-group > .tb-btn:first-child
  margin-left 0

.tb-btn-group > .tb-btn:first-child:not(:last-child):not(.dropdown-toggle)
  border-bottom-right-radius: 0;
  border-top-right-radius: 0

.tb-btn-group > .tb-btn:last-child:not(:first-child),.tb-btn-group > .dropdown-toggle:not(:first-child)
  border-bottom-left-radius: 0;
  border-top-left-radius: 0

.tb-btn-group > .tb-btn-group
  float left

.tb-btn-group > .tb-btn-group:not(:first-child):not(:last-child) > .tb-btn
  border-radius 0

.tb-btn-group > .tb-btn-group:first-child:not(:last-child) > .tb-btn:last-child,.tb-btn-group > .tb-btn-group:first-child:not(:last-child) > .dropdown-toggle
  border-bottom-right-radius 0
  border-top-right-radius 0

.tb-btn-group > .tb-btn-group:last-child:not(:first-child) > .tb-btn:first-child
  border-bottom-left-radius 0
  border-top-left-radius 0

.tb-btn-group .dropdown-toggle:active,.tb-btn-group.open .dropdown-toggle
  outline 0

.tb-btn-group > .tb-btn + .dropdown-toggle
  padding-left 8px
  padding-right 8px

.tb-btn-group > .tb-btn-lg + .dropdown-toggle 
  padding-left 12px
  padding-right 12px

.tb-btn-group.open .dropdown-toggle
  box-shadow inset 0 3px 5px rgba(0,0,0,0.125)

.tb-btn-group.open .dropdown-toggle.tb-btn-link
  box-shadow none
  
.tb-btn-group .tb-btn + .tb-btn,.tb-btn-group .tb-btn + .tb-btn-group,.tb-btn-group .tb-btn-group + .tb-btn,.tb-btn-group .tb-btn-group + .tb-btn-group
  margin-left 0
