.tb-collapse 
  width 400px
  background-color #f7f7f7
  border-radius 3px
  border 1px solid #dddee1
  .tb-collapse-item
    border-top 1px solid #dddee1
    .tb-collapse-header
      position relative
      height 38px
      line-height 38px
      padding-left 20px
      color #666
      cursor pointer
    .tb-collapse-content
      color #495060
      padding 0 16px
      background #fff
      overflow hidden
      .tb-collapse-content-box
        padding-top 16px
        padding-bottom 16px
        font-size 14px
        
  .tb-collapse-item:first-child
    border-top none
  .tb-caret-cls
    float left
    font-size 20px
    margin-top 10px
    margin-right 4px