.tb-dialog
  width 400px
  .tb-dialog-title
    text-align center
    margin-bottom 15px
    .tb-icon
      color #2196f3
      font-size 64px
      display block
      &.tb-icon-check-circle
        color #2196f3
      &.tb-icon-help
        color #ff9800
      &.tb-icon-info
        color #f44336
  .tb-dialog-info
    text-align center
    p
      font-size 18px
      color #333
    span
      font-size 14px
      color #333
  .tb-dialog-footer
    text-align center