.tb-input-number
  .tb-input-append
    padding 0
    .tb-in-up, .tb-in-down
      height 17px
      padding 0 14px
      line-height 17px
      cursor pointer
      &:hover
        .tb-icon
          opacity(0.5)
      &.disabled
        background-color #f2f2f2
    .tb-in-up
      border-bottom 1px solid #eaeaea