.tb-nav
  position relative
  height 50px
  background-color #4285F4
  width 100%
  padding 0 15px
  box-shadow(0 1px 3px rgba(0,0,0,0.3))
  &.tb-nav-fixed
    position fixed
    top 0
    left 0
    z-index 99