.tb-back-top
  display none
  position fixed
  z-index 10
  cursor pointer

.tb-back-top.tb-back-top-show
  display block

.tb-back-top-inner
  background-color rgba(0,0,0,.6)
  border-radius 2px
  box-shadow 0 1px 3px rgba(0,0,0,.2)
  transition all .2s ease-in-out

.tb-back-top-inner:hover 
  background-color rgba(0,0,0,.7)

.tb-back-top i
  color #fff
  font-size 24px
  padding 8px 15px
