.tb-cascader
  position relative
  .tb-cascader-input
    &>.tb-input-group
    cursor pointer
    .tb-input
      cursor pointer
  .tb-input-select-list
    white-space nowrap
    width auto
    background-color transparent
    padding 0
    >div
      min-width 120px
      background-color #FFF
      margin-right 2px
      display inline-block
      vertical-align top
      padding 5px 0
      ul
        li
          padding-right 32px
          .tb-input-select-icon
            margin-top 2px