.tb-dt-con
  position relative
.tb-dt-panel
  width 257px
  position absolute
  z-index 9999
  .tb-dt-s
    height 60px
    line-height 60px
    .tb-dt-s-prev, .tb-dt-s-next
      width 30px
      height 30px
      line-height 30px
      margin 15px 10px
      float left
      text-align center
      color #fff
      border-radius(30px)
      cursor pointer
      &:hover
        background-color #0A7F76
    .tb-dt-s-cur
      float left
      width 157px
      text-align center
      color #fff
      font-size 24px
  .tb-dt-b
    padding 10px 20px
    text-align center
    background-color #fff
    font-size 26px
    background-color #f1f1f1
    border-top 1px solid #d8d8d8
    span
      cursor pointer
  .tb-dt-week
    ul
      padding 0 6px
      li
        float left
        width 35px
        height 35px
        line-height 35px
        text-align center
        color #fff
        font-size 12px
  .tb-dt-day, .tb-dt-month, .tb-dt-year, .tb-dt-hour, .tb-dt-minute, .tb-dt-second
    background-color #fff
    ul
      padding 6px
      li
        float left
        text-align center
        font-size 12px
        border-radius(40px)
        cursor pointer
        &.disabled
          color #CDCDCD
        &:not(.disabled):hover
          background-color #009688
          color #fff
        &.today
          background-color #cdcdcd
        &.curSelectd
          background-color #009688 !important
          color #fff
  .tb-dt-day
    ul
      li
        width 31px
        height 31px
        margin 2px
        line-height 31px
  .tb-dt-month
    ul
      li
        width 57px
        height 31px
        margin 6px 2px 
        line-height 31px
  .tb-dt-year
    ul
      li
        width 45px
        height 31px
        margin 6px 2px 
        line-height 31px
  .tb-dt-hour, .tb-dt-minute, .tb-dt-second
    ul
      li
        width 57px
        height 31px
        margin 6px 2px 
        line-height 31px
  .tb-dt-time
    background-color #fff
    .tb-dt-time-li
      a, span
        display block
        text-align center
        font-size 20px
        float left
        height 50px
        line-height 50px
      a
        width 40%
        cursor pointer
        &.disabled
          color #d8d8d8
        &:hover
          background-color #f2f2f2
      span
        width 20%
      &.tb-dt-time-li-second
        a
          width 26%
        span
          width 11%