.tb-form
  margin-left -15px
  margin-right -15px
  .tb-form-group
    width 100%
    padding-left 15px
    padding-right 15px
    margin-bottom 30px
    .tb-form-label
      width 80px
      float left
      vertical-align middle
      line-height 1
      padding 11px 12px 11px 0
      box-sizing border-box
    .checkbox-group
      padding 11px 0
      .checkbox-inline:nth-child(1)
        padding-left 0
    .radio-group
      padding 11px 0
      .radio-inline:nth-child(1)
        padding-left 0
  &.tb-form-inline
    .tb-form-group
      float left