.tb-rate-stars
  .tb-icon
    font-size 22px
    color #e9e9e9
    &.tb-rate-parent
      position relative
      cursor pointer
    &.tb-rate-child
      color #f5a623
      position absolute
      left 0
      top 0
      overflow hidden
      transition(all 0.2s)