.tb-input-select
  position relative
  &>.tb-input-group
    cursor pointer
    .tb-input
      cursor pointer
.tb-input-select-list
  width 100%
  position absolute
  padding 5px 0
  background-color #fff
  top 100%
  margin-top 5px
  z-index 2000
  ul
    max-height 300px
    overflow auto
    li
      padding 8px 17px
      color #4C4C4C
      cursor pointer
      font-size 13px
      transition(all 0.25s)
      position relative
      a
        font-size 13px
      &.disabled
        opacity 0.3
        cursor not-allowed
        &:hover
          background-color transparent
      &:hover
        background-color #ECECEC
      &.active
        background-color #ECECEC
      .tb-input-select-icon
        position absolute
        right 15px

.tb-input-select-filter
  .tb-input
    border none
    border-bottom 1px solid #f2f2f2
    border-radius(0)

.te-select-fade-enter-active
  top 180%
  opacity 0
.te-select-fade-enter-to
  transition(all 0.25s)
  opacity 1
  top 100%
.te-select-fade-leave-active
  opacity 1
  top 100%
.te-select-fade-leave-to
  transition(all 0.25s)
  opacity 0
  top 180%

  
  
        
      